*.o
*.obj
*.s
*.so
*.a
*.lib
*.exe
*.out
*.txt
!CMakeLists.txt
*.log
*.dSYM/
core.*

mimic99
runner

**/build/
*/cmake-build-*/
*/CMakeFiles/
*/cmake_install.cmake

*.swp
*.swo
*.vscode/
*.DS_Store

.idea/
*.iml

.cmake
